<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Spring Security OAuth</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
</head>
<body ng-app="myApp" ng-controller="mainCtrl">

<div th:include="header"></div>

<div class="container">

<div class="col-sm-12">
	<h1>Login succeeded</h1>
</div>

<div class="col-sm-12">
<br/>
<br/>
<a class="btn btn-info" href="#" ng-click="refreshAccessToken()">Refresh Access Token</a>
<br/>
<br/>
<a class="btn btn-info" href="#" ng-click="logout()" ng-if="isLoggedIn">Logout</a>
</div>
</div>
</body>
</html>